{% extends 'base.html.twig' %}


{% block body %}

	<div class="profileBody">
		<div class="profileContainer">
			<div class="profileLeftContainer">

				<div class="profileSectionUserName">
					<div class="profilePic"></div>
					<p>{{user.firstName}}</p>
					<p class="userEmail">@{{user.email}}</p>
				</div>

				<div class="profileSectionLinks">
					<a href="{{path('app_profileModification')}}">
						<div class="profileLinks">
							<p>Modify my profile</p>
						</div>
					</a>
					<a href="{{path('app_carModification')}}">
						<div class="profileLinks">
							<p>Modify my car</p>
						</div>
					</a>
					<a href="{{path('app_createAnnounce')}}">
						<div class="profileLinks">
							<p>Create an announce</p>
						</div>
					</a>
					<a href="{{path('app_carRules')}}">
						<div class="profileLinks">
							<p>Create a carpool rule</p>
						</div>
					</a>
					<a href="{{path('app_myAnnounces')}}">
						<div class="profileLinks">
							<p>My Announces</p>
						</div>
					</a>
				</div>
				<div class="profileSore">
					<p>⭐ 4/7</p>
				</div>
			</div>
			<div class="profileRightContainer"></div>
		</div>
	</div>
{% endblock %}
