{% extends 'base.html.twig' %}


{% block body %}

	<div class="detailsPage">

		<h1>{{product.createdString}}</h1>

		<div class="detailsPageContainer">

			<div class="detailFirstSection">
				<div class="timeOfTraject">
					<p>00h00</p>
					<p class="timeDuration">45 min</p>
					<p>00h00</p>
				</div>
				<div class="citiesOfTraject">
					<p>{{product.departure}}</p>
					<p>{{product.destination}}</p>
				</div>
			</div>

			<div class="emptyDiv"></div>

			<div class="detailsOfPrice">
				<div class="detailsOfPriceContainer">
					<p class="totalPriceText">Total price for a passenger</p>
					<p>
						{{ product.price }}
						€</p>
				</div>
			</div>

			<div class="emptyDiv"></div>

			<div class="carSection">
				<h2>Cars Details</h2>
				<div class="carSectionContainer">
					<div class="carSectionDetails">
						<p>Brand :
						</p>
						<span>mvkdf</span>
					</div>
					<div class="carSectionDetails">
						<p>Model :</p>
						<span>dvsdsfv</span>
					</div>
					<div class="carSectionDetails">
						<p>Seats Disponible :
						</p>
						<span>sdvsdv</span>
					</div>
				</div>
			</div>

			<div class="emptyDiv"></div>


			<div class="detailsFotter">
				<div class="detailsProfileSection">
					<div class="detailsUserName">
						<p>{{product.driver.firstName}}
							{{product.driver.lastName | upper}}
							>
						</p>
						<p class="feedback">⭐ 4/7 - 28 Avis</p>
					</div>

					<div class="detailsSectionPic">
						<div class="detailsPic"></div>
					</div>
				</div>

				<div class="detailsDescription">
					{% for rule in product.rules %}
						<p>{{rule.description}}</p>
					{% endfor %}
				</div>
			</div>

			<div class="detailsContact">
				<a>
					<div></div>
				</a>
				<a class="contactLink" href="{{path('app_login')}}">
					<p>CONTACT
						{{product.driver.firstName}}
						{{product.driver.lastName | upper}}</p>
				</a>
			</div>

		</div>

	</div>

{% endblock %}
