<nav>
	<a href={{ path('app_ride')}}>
		<div class="logo"></div>
	</a>
	<div class="linksContainer">
		<ul>
			<a href="{{ path('booking_page') }}">
				<li>Book a Ride</li>
			</a>
			<a href="{{ path('app_createAnnounce')}}">
				<li>Publish a Ride</li>
			</a>

			{% if not app.user%}
				<a href="{{ path('app_login')}}">
					<li>Login</li>
				</a>
			{% endif %}
			{% if app.user %}

				<div class="dropdown">
					<span>More</span>
					<div class="dropdown-content">
						<a href="{{path('app_profile')}}">
							<li>Profile</li>
						</a>
						<div class="commingSonnDiv">
							<s>
								<li>Payment</li>
							</s>
							<span class="soonTag">soon</span>

						</div>
						<div class="commingSonnDiv">
							<s>
								<li>Insurance</li>
							</s>
							<span class="soonTag">soon</span>

						</div>
						<div class="commingSonnDiv">
							<s>
								<li>Chat</li>
							</s>
							<span class="soonTag">soon</span>

						</div>
						<div class="commingSonnDiv">
							<s>
								<li>Contact</li>
							</s>
							<span class="soonTag">soon</span>

						</div>


						<a href="{{path('app_logout')}}">
							<li>Logout</li>
						</a>
					</div>
				</div>


			{% endif %}

		</ul>
	</div>
</nav>
