<nav>
    <a href={{ path('app_ride')}} ><div class="logo"></div></a>
    <div class="linksContainer">
        <ul>
            <a href="{{ path('booking_page') }}"><li>Book a Ride</li></a>
            <a href="{{ path('publish_page')}}"><li>Publish a Ride</li></a>

            {% if not app.user%}
                <a href="{{ path('app_login')}}"><li>Login</li></a>
            {% endif %}
            {% if app.user %}
                <a href="{{ path('app_logout')}}"><li>Logout</li></a>
            {% endif %}

        </ul>
    </div>
</nav>