<div class="cardContainer {% if app.user and product.driver.id == currentUser %}newClass{% endif %}">
	<div class="card">

		<div class="cardsDropDownDiv">
			<div class="cardsDropdown">
				<div class="cardsSettingIcon"></div>
				<div class="cardsDropdown-content">
					{% if app.user and app.user.id == product.driver.id %}
						<p onclick="deleteItem()">
							<a href="{{path('app_announceDelete' , {'id' : product.id}) }}">Delete</a>
						</p>
						<p>
							<a href="{{ path('app_announceUpdate' , {'id' : product.id}) }}">Edit</a>
						</p>
						<p>
							<a href="{{path('details_page', {'id': product.id}) }}">Details</a>
						</p>
					{% else %}
						<p>
							<a href="{{path('details_page', {'id': product.id}) }}">Details</a>
						</p>

					{% endif %}

				</div>
			</div>
		</div>


		<div class="upSideLeft">
			<div class="departure">
				<span class="departLocation"></span>
				{{product.departure}}</div>
			<div class="destination">
				<span class="destinationLocation"></span>
				{{product.destination}}</div>
			<div class="places">{{product.seatsLeft}}
				seats disponible</div>
		</div>

		<div class="upSideRight">

			<div class="date">{{ product.createdString }}</div>

			<div class="profile">

				<div class="account">

					<div class="profilPic"></div>

					<div class="userName">
						<p>{{product.driver.firstName}}
							{{product.driver.lastName | upper}}</p>
						<p>⭐ 4/7</p>
					</div>

				</div>

				<p class="price">{{product.price}}$</p>
			</div>

		</div>

	</div>


	<div class="downSide">
		<ul>
			{% for rule in product.rules %}

				<li>
					{{rule.name}}</li>
				{%endfor%}
			</ul>
		</div>


	</div>
